
$brand: #FF9203;
$brand100: #FFB71B;
$brand200: #FFB316;
$brand300: #FFAE10;
$brand400: #FFA70A;
$brand500: #FF9E06;
$brand600: #FF9203;
$brand700: #FF8300;
$brand800: #FF7200;
$brand900: #FF6100;
$brand1000: #FF5100;

$mint: #00AF9E;
$mint100: #E6F7F5;
$mint200: #B3E7E2;
$mint300: #80D7CF;
$mint400: #4DC7BB;
$mint500: #1AB7A8;
$mint600: #00AF9E;
$mint700: #009E8E;
$mint800: #008C7E;
$mint900: #007A6F;
$mint1000: #00695F;
$mintT1: rgba(0, 175, 158, 0.1); 
$mintT2: rgba(0, 175, 158, 0.25);
$mintT3: rgba(0, 175, 158, 0.50);
$mintT4: rgba(0, 175, 158, 0.75);


$yellow: #FFB71B;
$yellow100: #FFF8E8;
$yellow200: #FFE9BB;
$yellow300: #FFDB8D;
$yellow400: #FFCD5F;
$yellow500: #FFBE32;
$yellow600: #FFB71B;
$yellow700: #E6A518;
$yellow800: #CC9216;
$yellow900: #B38013;
$yellow1000: #996E10;
$yellowT1: rgba(255, 183, 27, 0.1); 
$yellowT2: rgba(255, 183, 27, 0.25);
$yellowT3: rgba(255, 183, 27, 0.50);
$yellowT4: rgba(255, 183, 27, 0.75);


$tangerine: #FF8300;
$tangerine100: #FFF3E6;
$tangerine200: #FFDAB3;
$tangerine300: #FFC180;
$tangerine400: #FFA84D;
$tangerine500: #FF8F1A;
$tangerine600: #FF8300;
$tangerine700: #E67600;
$tangerine800: #CC6900;
$tangerine900: #B35C00;
$tangerine1000: #994F00;
$tangerineT1: rgba(255, 131, 0, 0.1); 
$tangerineT2: rgba(255, 131, 0, 0.25);
$tangerineT3: rgba(255, 131, 0, 0.50);
$tangerineT4: rgba(255, 131, 0, 0.75);


$red: #CF3642;
$red100: #FAEBEC;
$red200: #F1C3C6;
$red300: #E79BA1;
$red400: #DD727B;
$red500: #D44A55;
$red600: #CF3642;
$red700: #BA313B;
$red800: #A62B35;
$red900: #91262E;
$red1000: #7C2028;
$redT1: rgba(207, 54, 66, 0.1); 
$redT2: rgba(207, 54, 66, 0.25);
$redT3: rgba(207, 54, 66, 0.50);
$redT4: rgba(207, 54, 66, 0.75);

$violet: #94368D;
$violet100: #F4EBF4;
$violet200: #DFC3DD;
$violet300: #CA9BC6;
$violet400: #b472af;
$violet500: #9F4A98;
$violet600: #94368D;
$violet700: #85317F;
$violet800: #762B71;
$violet900: #682663;
$violet1000: #592055;
$violetT1: rgba(148, 54, 141, 0.1); 
$violetT2: rgba(148, 54, 141, 0.25);
$violetT3: rgba(148, 54, 141, 0.50);
$violetT4: rgba(148, 54, 141, 0.75);

$blue: #1B63FF;
$blue100: #E5EDFF;
$blue200: #B3CAFE;
$blue300: #6A99FC;
$blue400: #3E7AFC;
$blue500: #125DFC;
$blue600: #1B63FF;
$blue700: #1053DF;
$blue800: #1049C2;
$blue900: #0F3FA8;
$blue1000: #0E368C;
$blueT1: rgba(27, 99, 255, 0.1); 
$blueT2: rgba(27, 99, 255, 0.25);
$blueT3: rgba(27, 99, 255, 0.50);
$blueT4: rgba(27, 99, 255, 0.75);


$grayscale100: #F5F5F5;
$grayscale200: #DBDBDB;
$grayscale300: #C2C2C2;
$grayscale400: #A8A8A8;
$grayscale500: #8F8F8F;
$grayscale600: #757575;
$grayscale700: #5C5C5C;
$grayscale800: #424242;
$grayscale900: #292929;
$grayscale1000: #0F0F0F;

$black: #000;
$white: #fff;